<div class="splash__screen">
  <div class="splash__name">
    <%= tag.h1 'Snapcheck', class: 'title__splash' %>
    </div>
    <div class="splash__menu">
    <div class="link__btn-box link__btn-blue">
    <%= link_to 'LOG IN', new_user_session_path, class: 'link link__btn' %>
    </div>
    <div class="link__btn-box link__btn-white">
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'link link__btn' %>
    </div>
  </div>
</div>