<div class="splash__name">
<%= tag.h1('Splash Screen') %>
</div>
<div class="splash__menu">
  <%= link_to 'LOG IN', new_user_session_path, class: 'btn' %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn' %>
</div>